*.iml
/.idea
/.idea/*
.DS_Store

/target/

#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
/build/
.navigation
/captures/
output.json
*/__pycache__/
/venv/
dfTest.py