*.iml
/.idea
/.idea/*
.DS_Store

/target/

#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
/build/
.navigation
/captures/
output.json
!**/__pycache__/
/venv/
dfTest.py
/plotsave/
/Server/utils/plGraphs/*

# __pycache__
/Server/AAB/__pycache__/
/Server/apps/graphs/__pycache__/
/Server/apps/graphs/migrations/__pycache__/
/Server/apps/graphs/Services/__pycache__/
/Server/apps/graphs/tests/__pycache__/
/Server/utils/__pycache__/
/Server/__pycache__/
/Server/*/__pycache__/
/LocalProgram/*/__pycache__/
/LocalProgram/__pycache__/
